<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reinforcement Learning: From Foundations to Frontiers</title>
    <script src="https://distill.pub/template.v2.js"></script>
    <link rel="stylesheet" href="https://distill.pub/template.v2.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
    <d-front-matter>
        <script type="text/json">{
            "title": "Reinforcement Learning: From Foundations to Frontiers",
            "authors": [{
                "author": "Peter Henderson"
            }],
            "katex": {
                "delimiters": [
                    {"left": "$$", "right": "$$", "display": true},
                    {"left": "$", "right": "$", "display": false}
                ]
            }
        }</script>
    </d-front-matter>
    
    <d-title>
        <h1>Reinforcement Learning: From Foundations to Frontiers</h1>
        <p>Lecture notes on reinforcement learning</p>
    </d-title>
    
    <d-article>
        $body$
    </d-article>
    
    <d-appendix></d-appendix>
</body>
</html>
